In [1]:
import os
import cv2
import warnings
import img2pdf
import pdf2image
import pytesseract
import numpy as np
import pandas as pd
from PIL import Image
from pprint import pprint

warnings.filterwarnings('ignore')
pd.set_option('display.max_colwidth', None)pyt

In [2]:
pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract.exe'
poppler_path                          = 'C:\\poppler-0.68.0\\bin'
files                                 = ["Invoice_Sample_2.pdf"]

In [3]:
for file in files:
   
    if file.endswith((".png")):

        custom_oem_psm_config   = r'--oem 3 -c preserve_interword_spaces=1  --psm 3'
        image                   = Image.open(file)
        data                    = pytesseract.image_to_data(image, config=custom_oem_psm_config, output_type=pytesseract.Output.DATAFRAME, pandas_config=pytesseract.Output.DATAFRAME)
        # data.to_csv(file.replace(".pdf",".csv"))

    elif file.endswith((".pdf")):
        custom_oem_psm_config   = r'--oem 3 -c preserve_interword_spaces=1  --psm 3'
        image                   = pdf2image.convert_from_path(file, 500, poppler_path=poppler_path)
        opencvImage             = cv2.cvtColor(np.array(image[0]), cv2.COLOR_RGB2BGR)
        data                    = pytesseract.image_to_data(image[0], config=custom_oem_psm_config, output_type=pytesseract.Output.DATAFRAME, pandas_config=pytesseract.Output.DATAFRAME)
        data['centroid_x'] = 0
        data['centroid_y'] = 0
        n_boxes            = len(data['level'])
        for i in range(n_boxes):
            data['centroid_x'][i] = (data['left'][i]+data['left'][i]+data['width'][i])/2
            data['centroid_y'][i] = (data['top'][i]+data['top'][i]+data['height'][i])/2 
        
        data['centroid_tuple'] = data[['centroid_x', 'centroid_y']].apply(tuple, axis=1)
        data['table'] = False
        
        table_columns               = [('DATE',101), ('ACTIVITY',110), ('DESCRIPTION',110), ('AMOUNT', 60)]
        table_columns_row_single    = {}
        table_columns_row_multiple  = {}

        for column in table_columns:
            df  = data[data['text'].fillna("NA").str.contains(column[0])]
            lis = list(df['centroid_tuple'].values)
            if len(lis)==1`
                table_columns_row_single[column[0]] = lis
            else:
                table_columns_row_multiple[column[0]] = lis

        for k1,v1 in table_columns_row_multiple.items():
            temp = []
            for centroid in v1:
                for k2,v2 in table_columns_row_single.items():
                    if v2[0][1]-centroid[1]<20:
                        temp.append(centroid)  
            table_columns_row_single[k1] = list(set(temp)) 
        
        amount_col      = []
        date_col        = []
        activity_col    = []
        description_col = []
         
        for column in table_columns:
            nearby_x_value = table_columns_row_single[column[0]][0][0]
            nearby_y_value = table_columns_row_single[column[0]][0][1]
            for i in range(n_boxes):
                if data['conf'][i]!=np.float64(-1.0):
                    if abs(data['centroid_x'][i]-nearby_x_value)<np.float64(column[1]):
                        data["table"][i] = True
                        if column[0]=='AMOUNT' and data['centroid_y'][i]>=nearby_y_value:
                            amount_col.append(list(data.iloc[i]))
                        elif column[0]=='DATE' and data['centroid_y'][i]>=nearby_y_value:
                            date_col.append(list(data.iloc[i]))
                        elif column[0]=='ACTIVITY' and data['centroid_y'][i]>=nearby_y_value:
                            activity_col.append(list(data.iloc[i]))
                        elif column[0]=='DESCRIPTION' and data['centroid_y'][i]>=nearby_y_value:
                            description_col.append(list(data.iloc[i]))

        data_table = data[data["table"]]
        
        data_table = data_table[['text','centroid_x','centroid_y','centroid_tuple']]

        
        print("Amount Column....")
        amount_df = pd.DataFrame(amount_col, columns=data.columns)
        amount_df = amount_df[['text','centroid_x','centroid_y','centroid_tuple']]
        print(amount_df)
 
        
        print("Date Column....")
        date_df = pd.DataFrame(date_col, columns=data.columns)
        date_df = date_df[['text','centroid_x','centroid_y','centroid_tuple']]
        print(date_df)

            
        print("Activity Column....")
        activity_df = pd.DataFrame(activity_col, columns=data.columns)
        activity_df = activity_df[['text','centroid_x','centroid_y','centroid_tuple']]
        print(activity_df)

            
        print("Description Column....")
        description_df = pd.DataFrame(description_col, columns=data.columns)
        description_df = description_df[['text','centroid_x','centroid_y','centroid_tuple']]
        print(description_df)

Amount Column....
         text  centroid_x  centroid_y    centroid_tuple
0      AMOUNT      4003.5      1992.0  (4003.5, 1992.0)
1   10,164.00      3961.0      2268.0  (3961.0, 2268.0)
2   18,200.00      3961.0      2393.5  (3961.0, 2393.5)
3   14,000.00      3961.0      2518.5  (3961.0, 2518.5)
4   12,705.00      3961.0      2643.5  (3961.0, 2643.5)
5   11,060.00      3961.0      2769.0  (3961.0, 2769.0)
6   11,060.00      3961.0      2892.5  (3961.0, 2892.5)
7    7,686.00      3978.5      3018.0  (3978.5, 3018.0)
8   11,060.00      3961.0      3143.0  (3961.0, 3143.0)
9    6,440.00      3978.5      3268.0  (3978.5, 3268.0)
10   8,540.00      3978.0      3393.5  (3978.0, 3393.5)
11   2,685.00      3978.0      3518.5  (3978.0, 3518.5)
12  11,900.00      3961.0      3643.0  (3961.0, 3643.0)
13   4,270.00      3977.5      3768.0  (3977.5, 3768.0)
14  10,507.00      3961.0      3893.0  (3961.0, 3893.0)
15   2,166.00      3978.0      4085.0  (3978.0, 4085.0)
16   4,200.00      3977.5      4210.0  (3977.5, 4210.0)
17   1,750.00      3967.0      4584.5  (3967.0, 4584.5)
18  -1,750.00      3967.0      4709.5  (3967.0, 4709.5)
19  -3,337.50      3967.0      4960.0  (3967.0, 4960.0)
20   1,750.00      3980.0      5085.0  (3980.0, 5085.0)
Date Column....
          text  centroid_x  centroid_y   centroid_tuple
0         DATE       198.5      1990.5  (198.5, 1990.5)
1   02/01/2019       297.5      2138.5  (297.5, 2138.5)
2   02/01/2019       298.0      2263.5  (298.0, 2263.5)
3   02/01/2019       298.0      2388.5  (298.0, 2388.5)
4   02/01/2019       298.0      2513.5  (298.0, 2513.5)
5   02/01/2019       298.0      2638.5  (298.0, 2638.5)
6   02/01/2019       297.5      2763.5  (297.5, 2763.5)
7   02/01/2019       297.5      2888.5  (297.5, 2888.5)
8   02/01/2019       297.5      3014.5  (297.5, 3014.5)
9   02/01/2019       297.5      3138.0  (297.5, 3138.0)
10  02/01/2019       297.5      3263.5  (297.5, 3263.5)
11  02/01/2019       297.5      3388.5  (297.5, 3388.5)
12  02/01/2019       297.5      3513.5  (297.5, 3513.5)
13  02/01/2019       297.5      3638.5  (297.5, 3638.5)
14  02/01/2019       297.5      3764.0  (297.5, 3764.0)
15  02/01/2019       297.5      3888.5  (297.5, 3888.5)
16  02/01/2019       297.5      4079.5  (297.5, 4079.5)
17  02/01/2019       297.5      4205.0  (297.5, 4205.0)
18  02/01/2019       298.0      4455.5  (298.0, 4455.5)
19  02/01/2019       297.5      4580.0  (297.5, 4580.0)
20  02/01/2019       297.5      4830.5  (297.5, 4830.5)
21  02/01/2019       297.5      4956.5  (297.5, 4956.5)
22  02/01/2019       297.5      5080.5  (297.5, 5080.5)
Activity Column....
          text  centroid_x  centroid_y   centroid_tuple
0     ACTIVITY       834.0      1992.5  (834.0, 1992.5)
1         SEAN       802.5      2262.5  (802.5, 2262.5)
2            H       943.5      2261.0  (943.5, 2261.0)
3       ROBBIE       841.0      2393.0  (841.0, 2393.0)
4          JAN       772.5      2512.0  (772.5, 2512.0)
5        ARTUR       828.0      2637.0  (828.0, 2637.0)
6        YULIA       809.5      2762.0  (809.5, 2762.0)
7        JACEK       821.5      2888.5  (821.5, 2888.5)
8        DAWID       826.0      3012.0  (826.0, 3012.0)
9       LUKASZ       845.5      3138.0  (845.5, 3138.0)
10    ANGELIKA       883.5      3262.0  (883.5, 3262.0)
11  ANASTASIYA       927.0      3394.0  (927.0, 3394.0)
12      ANDREW       864.0      3511.5  (864.0, 3511.5)
13      DOROTA       860.0      3638.5  (860.0, 3638.5)
14      LUKASZ       845.5      3763.5  (845.5, 3763.5)
15         T&M       781.0      3888.0  (781.0, 3888.0)
16        (FM)       781.5      3977.0  (781.5, 3977.0)
17     NATALIA       856.5      4078.0  (856.5, 4078.0)
18      KACPER       852.5      4204.5  (852.5, 4204.5)
19      ROBBIE       841.0      4586.0  (841.0, 4586.0)
20        SEAN       802.5      4955.5  (802.5, 4955.5)
21           H       943.0      4954.0  (943.0, 4954.0)
22      ROBBIE       841.0      5085.0  (841.0, 5085.0)
Description Column....
           text  centroid_x  centroid_y    centroid_tuple
0   DESCRIPTION      1500.0      1991.0  (1500.0, 1991.0)
1       PLANNED      1475.5      2137.0  (1475.5, 2137.0)
2    Engagement      1509.0      2270.0  (1509.0, 2270.0)
3      Business      1452.0      2388.5  (1452.0, 2388.5)
4        Senior      1411.5      2513.0  (1411.5, 2513.0)
5        Senior      1411.5      2638.0  (1411.5, 2638.0)
6     Developer      1471.0      2770.5  (1471.0, 2770.5)
7     Developer      1470.5      2895.5  (1470.5, 2895.5)
8        Junior      1405.0      3013.5  (1405.0, 3013.5)
9     Developer      1470.5      3145.0  (1470.5, 3145.0)
10       Junior      1405.0      3263.0  (1405.0, 3263.0)
11           QA      1567.5      3263.5  (1567.5, 3263.5)
12   Specialist      1578.5      3395.0  (1578.5, 3395.0)
13      Project      1420.0      3645.5  (1420.0, 3645.5)
14       Junior      1405.0      3763.5  (1405.0, 3763.5)
15    Developer      1470.5      3895.0  (1470.5, 3895.0)
16    Assistant      1450.5      4080.0  (1450.5, 4080.0)
17     Designer      1567.5      4212.0  (1567.5, 4212.0)
18    DISCOUNTS      1516.0      4455.0  (1516.0, 4455.0)
19     Business      1452.0      4580.5  (1452.0, 4580.5)
20      JANUARY      1472.0      4830.0  (1472.0, 4830.0)
21   Engagement      1509.5      4963.0  (1509.5, 4963.0)
22     Business      1452.0      5080.0  (1452.0, 5080.0)

In [4]:
for file in files:
    extract(file)

NameError: name 'extract' is not defined